*{
    font-size: 25px;
}
.title{
    display: flex;
    justify-content: center;
}
.table{
    align-content: center;
    margin: 0 0 0 10px;
    border: 2px solid black;
}
.para{
    display: inline-block;
}
.para_1{
    justify-content: flex-start;
    margin: 0 16rem 0 0;
}
.para_2{
    justify-content: center;
    margin: 0 13rem 0 0;
}
.para_3{
    justify-content: flex-end;
}
.data{
    border: 1px solid black;
}
td,tr,th{
    border: 1px solid black
}
